<style> 
html,body,div { font-family: 'Courier Prime', monospace; } 
#docs-site-logo span {
background: url('https://github.com/weiword/guide/blob/main/resources/ir_animation_dark.gif?raw=true') repeat;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            color: transparent;
font-size: 3rem !important;
}
.bg-gray-300 {
background: url('https://github.com/weiword/guide/blob/main/resources/ir_animation_dark.gif?raw=true') repeat;
}
.border-gray-300 {
border-image: url('https://github.com/weiword/guide/blob/main/resources/ir_animation_dark.gif?raw=true') 30 stretch;
}
</style>
