<style> 
html,body,div { font-family: 'Courier Prime', monospace; } 
#docs-site-logo span {
background: url('https://github.com/weiword/guide/blob/main/resources/ir_animation_dark.gif?raw=true') repeat;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            color: transparent;
font-size: 3.5rem !important;
}

</style>

<script>
    window.onload = function() {
      // Array of color sets, each containing two colors
      const colorSets = [
        ["rgb(237,237,237, 0.6)", "rgb(150,150,150)", "rgb(237,237,237)", "rgb(150,150,150)", "rgb(237,237,237)"]
      ];

      // Pick a random set from the array
      const randomSet = colorSets[Math.floor(Math.random() * colorSets.length)];

      // Apply the first color and the second color
      const [bkrndColor, firstColor, secondColor, thirdColor, fourthColor] = randomSet;

      // Select the first <style> tag in the document
      const styleTag = document.querySelector("style");

      // Update the CSS rules
      styleTag.innerHTML = `

      a, svg {
      color: ${firstColor};
      }

      .dark a, .dark svg {
      color: white;
      }

      a span {
      color: ${firstColor};
      }
      
      .dark a span {
      color: white;
      }

      .text-root-logo-label-text {
      color: ${firstColor};
      }

      .bg-root-logo-label-bg {
      background-color: ${secondColor};
      }

     .text-blue-500 {
     color: ${firstColor};
     }

     .border-blue-500 {
     border-color: ${firstColor};
     }

     .group:hover .group-hover\:text-blue-500 {
     color: ${firstColor};
     }

     .border-gray-200 {
     border:none;
     }

     .bg-gray-300 {
     background: url('https://github.com/weiword/guide/blob/main/resources/ir_animation_dark.gif?raw=true') repeat;
      }

     .border-gray-300 {
     border-image: url('https://github.com/weiword/guide/blob/main/resources/ir_animation_dark.gif?raw=true') 30 stretch;
     }

     .text-gray-400 {
     color: ${thirdColor};
     }
     
     #docs-site-logo span::before {
    content: "WEIWORD"; 
    position: absolute;
    text-shadow: 1px 1px ${secondColor};
    z-index: -1; 
     }
    html, #docs-app, #docs-app > *, .sidebar-right, aside div:nth-child(2) {
      background-image: 
        linear-gradient(-45deg, ${bkrndColor} 25%, rgba(255, 255, 255, 0) 25%, rgba(255, 255, 255, 0) 50%, ${bkrndColor} 50%, ${bkrndColor} 75%, rgba(255, 255, 255, 0) 75%),
        linear-gradient(45deg, ${bkrndColor} 25%, rgba(255, 255, 255, 0) 25%, rgba(255, 255, 255, 0) 50%, ${bkrndColor} 50%, ${bkrndColor} 75%, rgba(255, 255, 255, 0) 75%);
      background-size: 3px 3px;
      background-repeat: repeat;
      } 
      input {
      background: none !important;
      border: 1px solid ${firstColor} !important;
      }
      input::placeholder {
    color: ${firstColor} !important; 
    }
    .bg-dark-850 {
      background-image: 
        linear-gradient(-45deg, ${bkrndColor} 25%, rgba(255, 255, 255, 0) 25%, rgba(255, 255, 255, 0) 50%, ${bkrndColor} 50%, ${bkrndColor} 75%, rgba(255, 255, 255, 0) 75%),
        linear-gradient(45deg, ${bkrndColor} 25%, rgba(255, 255, 255, 0) 25%, rgba(255, 255, 255, 0) 50%, ${bkrndColor} 50%, ${bkrndColor} 75%, rgba(255, 255, 255, 0) 75%);
      background-size: 3px 3px;
      background-repeat: repeat;
    }
    .bg-dark-700 {
      background-image: 
        linear-gradient(-45deg, ${bkrndColor} 25%, rgba(255, 255, 255, 0) 25%, rgba(255, 255, 255, 0) 50%, ${bkrndColor} 50%, ${bkrndColor} 75%, rgba(255, 255, 255, 0) 75%),
        linear-gradient(45deg, ${bkrndColor} 25%, rgba(255, 255, 255, 0) 25%, rgba(255, 255, 255, 0) 50%, ${bkrndColor} 50%, ${bkrndColor} 75%, rgba(255, 255, 255, 0) 75%);
      background-size: 3px 3px;
      background-repeat: repeat;
}
      .docs-panels {
      border-left: 4px solid transparent !important;
      border-image: url('https://github.com/weiword/guide/blob/main/resources/ir_animation_dark.gif?raw=true') 30 stretch;
      }

      .docs-panels > * {
      border-bottom: 1px solid transparent !important;
      border-image: url('https://github.com/weiword/guide/blob/main/resources/ir_animation_dark.gif?raw=true') 30 stretch;
      }
      
      `;
    };
  </script>
